@import url('https://fonts.googleapis.com/css2?family=Cinzel+Decorative:wght@400;700;900&family=El+Messiri:wght@400;500;600;700&family=Bebas+Neue&family=Inter:wght@400;500;700&family=Amiri:wght@400;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  @apply overflow-x-hidden;
  scroll-behavior: smooth;
}

/* Hide scrollbar */
::-webkit-scrollbar {
  display: none;
}

html {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

body {
  @apply bg-black text-white;
}
